@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: "Quicksand", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: white;
}

#root {
  height: 100% !important;
  width: 100% !important;
}

@keyframes wave1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes wave2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wave1 {
  animation: wave1 12s linear infinite;
}

.wave2 {
  animation: wave2 8s linear infinite;
}